$color-darkteal: #0e3b43;
$color-mediumteal: #357266;
$color-tealgray: #6c978a;
$color-lightteal: #b1c8c1;
$color-lightgray: #a3bbad;
$color-coffee: #312509;

$entry-page: $color-darkteal;
$entry-page-btn: $color-lightteal;
