$color-darkteal: #0e3b43;
$color-mediumteal: #357266;
$color-tealgray: #6c978a;
$color-lightteal: #b1c8c1;
$color-lightgray: #a3bbad;
$color-coffee-dark: #402218;
$color-coffee-with-milk: #865439;
$color-coffee-latte: #C68B59;
$color-milk-with-coffee: #F2DAC3;
$color-black: #000000;

$entry-page: $color-darkteal;
$entry-page-btn: $color-lightteal;
$entry-page-hover-text: $color-coffee-dark;
$entry-page-hover-background: $color-milk-with-coffee;
$body-color: $color-darkteal;
$main-bg-color: $color-lightteal;
$font-color: $color-black;
$header-color: $color-darkteal;