@import "../../../styles/variables.scss";

.navbar {
  margin: 0 100px;
}

.navbarcollapse {
  justify-content: flex-end !important;
}

@media all and (max-width: 860px) {
  .navbar {
    margin: 0 50px;
  }
}
@media all and (max-width: 400px) {
    .navbar {
      margin: 0 5px;
    }
  }