@import "../../../styles/variables.scss";

.navbar {
  margin: 0 100px;
}

.navbarcollapse {
  justify-content: flex-end !important;
}
.navlink {
  color: $color-lightteal;
}
.navlink:hover {
  color: $color-coffee-latte !important;
}
.navlinklanguage {
  color: $color-coffee-dark !important;
  background-color: $color-coffee-latte;
}
.navlinklanguage:hover {
  color: $color-lightteal !important;
}
@media all and (max-width: 860px) {
  .navbar {
    margin: 0 50px;
  }
}
@media all and (max-width: 400px) {
    .navbar {
      margin: 0 5px;
    }
  }