@import "../../../styles/variables.scss";

.hobbycontainer {
  min-width: 90vw;
  min-height: 80vh;
  background-color: $main-bg-color;
  padding: 40px;
}
.hobbyrow {
  padding: 0 20px;
  justify-content: space-around;
}