@import "../../../styles/variables.scss";

.homepagecontainer {
  min-width: 90vw;
  min-height: 80vh;
  background-color: $main-bg-color;
  padding: 40px;
}
.homepagerow {
  padding: 0 20px;
}

.socialmediahome {
  margin: 200px 0;
}