@import "../../../styles/variables.scss";
@import "../../../styles/typography.scss";

#root {
  background-color: $entry-page;
  height: 100vh;
}
.entrycontainer {
  height: 100vh;
}

.entryrow {
  height: 100vh;
  align-content: space-around;
}
.entrybtn {
  margin: 0 auto;
  height: 20vh;
  border-radius: 30px;
  a.link {
    background-color: $entry-page-btn;
    color: $entry-page;
    display: block;
    font-size: $h2-size;
    text-align: center;
    padding: 30px 0;
    text-decoration: none;
    border-radius: 30px;
  }
  a.link:hover {
    background-color: $entry-page-hover-background;
    color: $entry-page-hover-text;
    font-weight: bold;
  }
}
@media all and (max-width: 576px) {
  .entryrow {
    flex-direction: column;
    justify-content: center;
  }
}
